@model Person

<html>
<head>
    <script type="text/javascript" src="~/js/Modal.js" )></script>
    <style>

        .Header {
            color: #000;
            font-weight: 700;
            border-bottom: 2px solid black;
        }

        .Contents {
            font-weight: normal;
        }

        .Header, .Contents {
            text-align: center;
        }
    </style>
</head>
<h1>Tables</h1>

<table style="width: 100%">

    @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" value=@Model.Id class="form-control" readonly />
            <span asp-validation-for="Id" class="text-danger"></span>

        </div>*@
    @* <div class="form-group">*@
    <form name="UpdatePerson" asp-action="UpdatePerson">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" value=@Model.Id class="form-control" readonly />
   
        <span asp-validation-for="Id" class="text-danger"></span>
        <label class="control-label">Vardas</label>
        <input asp-for="Vardas" value=@Model.Vardas class="form-control" readonly />
        <span asp-validation-for="Vardas" class="text-danger"></span>


        @*</div>
            <div class="form-group">*@
        <label asp-for="Pavarde" class="control-label"></label>
        <input asp-for="Pavarde" value=@Model.Pavarde class="form-control" readonly />
        <span asp-validation-for="Pavarde" class="text-danger"></span>



        @*</div>*@
      
            <div class="form-group">
                <label asp-for="GimimoMetai" class="control-label"></label>
                <input asp-for="GimimoMetai" value=@Model.GimimoMetai?.ToString("d") class="form-control" />
                <span asp-validation-for="GimimoMetai" class="text-danger"></span>
            </div>
            <input type="submit" value="Update" class="btn btn-primary">
        </form>
        <!-- <a asp-action="DeletePerson" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>-->
        <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    @{
                        Html.RenderPartial("_PersonDeleteModal");
                    }
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <button onclick="OpenDeleteModal(@Model.Id)" class="btn btn-danger">Delete</button>




</table>


</html>